<div class="mx--auto lg--up--one-half">
  <div class="grid">
    <div class="grid__item">
      <h1 class="f--heading font-size__heading m0">{{ page.title }}</h1>
    </div>
    <div class="grid__item mt3">
      <div class="rte font-size__basic">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>